@font-face {
   font-family: 'BigBang';
   font-display: swap;
   src: url('file:///Users/ahmed/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-04-24_124413/fonts/BigBang/font.ttf');
}
